@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Ubuntu Mono", monospace;

  height: 100vh;
  width: 100vw;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1300' height='400' preserveAspectRatio='none' viewBox='0 0 1300 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3crect width='1300' height='400' x='0' y='0' fill='rgba(41%2c 50%2c 65%2c 1)'%3e%3c/rect%3e%3cpath d='M458.5 450.59C534.3 449.75 522.44 368.96 749.83 366.46 977.22 363.96 1180.89 200.13 1332.48 198.46' stroke='rgba(152%2c 193%2c 217%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M167.61 453.29C317.19 453.02 456.24 363.4 758.92 361.88 1061.6 360.36 1196.56 195.5 1350.23 193.88' stroke='rgba(152%2c 193%2c 217%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M214.06 401.68C322.48 395.09 400.81 194.69 595.62 193.87 790.43 193.05 786.4 243.87 977.18 243.87 1167.96 243.87 1262.53 193.98 1358.74 193.87' stroke='rgba(152%2c 193%2c 217%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M349.31 445.49C451.26 443.7 541.26 314.01 735.36 313.9 929.46 313.79 928.39 363.9 1121.41 363.9 1314.44 363.9 1410.14 314 1507.46 313.9' stroke='rgba(152%2c 193%2c 217%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3cpath d='M578.62 475.04C675.7 465.59 641.54 266.72 903.97 259.73 1166.4 252.74 1386.42 89.17 1554.68 87.73' stroke='rgba(152%2c 193%2c 217%2c 0.5803921568627451)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='1300' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-color: #293241;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.list hr:last-child {
  display: none;
}
